<%= form_with(model: reply, local: true) do |form| %>
  <% if reply.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reply.errors.count, "error") %> prohibited this reply from being saved:</h2>

      <ul>
      <% reply.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% if @reply.parent_id %>
        <%= form.hidden_field :parent_id, id: :parent_id, :value => @reply.parent_id %>
    <% else %>
        <%= form.hidden_field :parent_id, id: :parent_id, :value => params[:parent_id] %>
    <% end %>
  </div>

  <div class="field">
    <% if @reply.parent_id %>
        <%= form.hidden_field :post_id, id: :reply_post_id, :value => @reply.post_id %>
    <% else %>
        <%= form.hidden_field :post_id, id: :reply_post_id, :value => params[:post_id] %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :reply_title%>
  </div>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text, id: :reply_text %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
