<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @reply.user.firstname + " " + @reply.user.surname %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @reply.parent.title %>
</p>

<p>
  <strong>Post:</strong>
  <%= @reply.post.title %>
</p>

<p>
  <strong>Title:</strong>
  <%= @reply.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @reply.text %>
</p>

<%= link_to 'Edit', edit_reply_path(@reply) %> |
<%= link_to 'Back', replies_path %>
