<p id="notice"><%= notice %></p>
<br>

<div class="response">
<p>
  <%= @post.user.firstname + " " + @post.user.surname%>
</p>
<p>
  <strong><%= @post.title %></strong>
</p>
<br>
<p>
  <%= @post.text %>
</p>
<br>
<%= link_to 'Reply', new_reply_path + "/post/#{@post.id}"%>
</div>

  <% @replies.each do |reply| %>
    <div class="response">
      <p><%= reply.user.firstname + " " + reply.user.surname %></p>
      <p><strong><%= reply.title %></strong></p>
      <br>
      <p><%= reply.text %></p>
      <br>
      <p><%= link_to 'Reply', new_reply_path + "/post/#{@post.id}/reply/#{reply.id}"%></p>
    </div>
    <%= build_replies(reply.responses, @post.id) %>

  <% end %>

<%= link_to 'Back', posts_path(page: @current_page) %>
