<p id="notice"><%= notice %></p>
<br>
<div class="response">
  <p>
    <%= @post.user.firstname + " " + @post.user.surname%>
  </p>
  <p>
    <%= check_unread(@post) %>
    <%= display_date(@post.created_at) %>
  </p>
  <p>
    <strong><%= @post.title %></strong>
  </p>
  <br>
  <p>
    <%= @post.text %>
  </p>
  <br>
  <%= link_to 'Reply', new_post_reply_path(@post.id) %>
</div>

  <% @replies.each do |reply| %>
    <% if check_unread(reply)
        @post_class = "response-unread"
       else
        @post_class = "response"
       end %>

        <div class="<%= @post_class %>">
          <p><%= reply.user.firstname + " " + reply.user.surname %></p>
          <p><%= display_date(reply.created_at) %></p>
          <p><strong><%= reply.title %></strong></p>
          <br>
          <p><%= reply.text %></p>
          <br>
          <%= link_to('Reply', new_post_reply_path(@post) + reply_path(reply)) %>
        </div>
    <%= build_replies(reply.responses, @post.id) %>

  <% end %>

<%= link_to 'Back', posts_path(page: @current_page) %>
